.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 20px auto 0;
}

@media (min-width: 640px) {
  .btn-container {
    flex-direction: row;
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .btn-container {
    flex-direction: row;
    margin: 0;
  }
}

@media (min-width: 1024px) {
}
