:root {
  /* ------- colors ------- */
  --primary-color: #9e4784;
  --secondary-color: #65656d;
  --tertiary-color: #acacb4;
  --quaternary-color: #e4e4e7;
  /* ---------------------- */
}

body {
  color: var(--theme-primary);
}
